body {
  margin: auto;
  font-family: "Poppins", sans-serif, !important;
  overflow: auto;
  background: linear-gradient(315deg, #0f394a, #285c6d, #2782a2);
  animation: gradient 5s ease infinite;
  background-size: 400% 400%;
  background-attachment: fixed;
  color: #e9be8a;
}

@keyframes gradient {
  0% {
    background-position: 0% 0%;
  }

  50% {
    background-position: 100% 100%;
  }

  100% {
    background-position: 0% 0%;
  }
}

.area {
  width: 100%;
  height: 100vh;
}

.circles {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.circles li {
  position: fixed;
  display: block;
  list-style: none;
  width: 20px;
  height: 20px;
  background: rgba(255, 255, 255, 0.2);
  animation: animate2 5s linear infinite;
  bottom: -150px;

}

.circles li:nth-child(1) {
  left: 25%;
  width: 80px;
  height: 80px;
  animation-delay: 0s;
}


.circles li:nth-child(2) {
  left: 10%;
  width: 20px;
  height: 20px;
  animation-delay: 2s;
  animation-duration: 12s;
}

.circles li:nth-child(3) {
  left: 70%;
  width: 20px;
  height: 20px;
  animation-delay: 4s;
}

.circles li:nth-child(4) {
  left: 40%;
  width: 60px;
  height: 60px;
  animation-delay: 0s;
  animation-duration: 18s;
}

.circles li:nth-child(5) {
  left: 65%;
  width: 20px;
  height: 20px;
  animation-delay: 0s;
}

.circles li:nth-child(6) {
  left: 75%;
  width: 110px;
  height: 110px;
  animation-delay: 3s;
}

.circles li:nth-child(7) {
  left: 35%;
  width: 150px;
  height: 150px;
  animation-delay: 7s;
}

.circles li:nth-child(8) {
  left: 50%;
  width: 25px;
  height: 25px;
  animation-delay: 15s;
  animation-duration: 45s;
}

.circles li:nth-child(9) {
  left: 20%;
  width: 15px;
  height: 15px;
  animation-delay: 2s;
  animation-duration: 35s;
}

.circles li:nth-child(10) {
  left: 85%;
  width: 150px;
  height: 150px;
  animation-delay: 0s;
  animation-duration: 11s;
}



@keyframes animate2 {

  0% {
    transform: translateY(0) rotate(0deg);
    opacity: 1;
    border-radius: 0;
  }

  100% {
    transform: translateY(-1000px) rotate(720deg);
    opacity: 0;
    border-radius: 50%;
  }

}

section {
  height: 100vh;
}

.reveal {
  position: relative;
  opacity: 0;
}

.reveal.active {
  opacity: 1;
}

.active.fade-bottom {
  animation: fade-bottom 1s ease-in;
}

@keyframes fade-bottom {
  0% {
    transform: translateY(150px);
    opacity: 0;
  }

  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

.box {
  position: absolute;
  top: 50%;
  left: 50%;
  right: 50%;
  bottom: 50%;
  transform: translate(-50%, -50%);
  width: 80%;
  height: 165px;
  box-sizing: border-box;
  overflow: hidden;
  border: 3px solid #e9be8a;
  color: #e9be8a;
  padding: 20px;
}

.box .content {
  position: absolute;
  top: 15px;
  left: 15px;
  right: 15px;
  bottom: 15px;
  padding: 20px;
  text-align: center;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.5);
}

.box span {
  position: absolute;
  top: 0%;
  left: 0%;
  width: 100%;
  height: 100%;
  display: block;
  box-sizing: border-box;
}

span:nth-child(1) {
  transform: rotate(0deg);
}

span:nth-child(2) {
  transform: rotate(180deg);
}

.box span:before {
  content: '';
  position: absolute;
  width: 100%;
  height: 4px;
  background-color: black;
  animation: animate 5s linear infinite;
}

@keyframes animate {

  0% {
    transform: scaleX(0);
    transform-origin: left;
  }

  50% {
    transform: scaleX(1);
    transform-origin: left;
  }

  50.1% {
    transform: scaleX(1);
    transform-origin: right;

  }

  100% {
    transform: scaleX(0);
    transform-origin: right;

  }

}

div.content h1 {
  font-weight: lighter;
  font-size: 75px;
}

nav.navbar {
  background-color: transparent;
  border-bottom: 2px solid #e9be8a;
}

li.nav-item a.nav-link {
  font-size: 25px;
  color: #e9be8a;
}

li.nav-item a.nav-link:hover {
  font-size: 25px;
  color: #e9be8a;
  opacity: 75%;
}

ul.navbar-nav {
  margin-left: auto;
}

li.nav-item {
  margin-right: 25px;
}

div.reveal h1{
  font-size: 50px;
  text-decoration: underline;
}

p.section1{
  font-size: 25px;
}

.form-control{
  background-color: transparent !important;
  border-color:#e9be8a !important;
}

.form-control:focus{
  color: #e9be8a !important;
  background-color: transparent !important;
  border-color:#e9be8a !important;
  box-shadow:0 0 0 .25rem #e9be8aa8 !important;
}

h1.login{
  margin-top: 125px;
}

.form-check-input{
  --bs-form-check-bg: #e9be8a !important;
  background-color: transparent !important;
  border:var(--bs-border-width) solid #e9be8a !important;
}

.form-check-input:focus{
  border-color:#e9be8a !important;
  box-shadow:0 0 0 .25rem #e9be8aa8 !important;
}

.form-check-input:checked{
  background-color:#e9be8a !important;
  border-color: #e9be8a !important;
}

.btn-geii{
  --bs-btn-color: #e9be8a;
  --bs-btn-bg: transparent;
  --bs-btn-border-color: #e9be8a;
  --bs-btn-hover-color: #fff;
  --bs-btn-hover-bg: #c19b6e;
  --bs-btn-hover-border-color: #c19b6e;
  --bs-btn-focus-shadow-rgb: 49,132,253;
  --bs-btn-active-color: #fff;
  --bs-btn-active-bg: transparent;
  --bs-btn-active-border-color: #e9be8a;
  --bs-btn-active-shadow: inset 0 3px 5px #e9be8aa8;
  --bs-btn-disabled-color: #e9be8a;
  --bs-btn-disabled-bg: transparent;
  --bs-btn-disabled-border-color: #e9be8a;
}

.circles {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

li.li_login {
  position: fixed;
  display: block;
  list-style: none;
  width: 20px;
  height: 20px;
  background: rgba(255, 255, 255, 0.2);
  animation: animate2 5s linear infinite;
  bottom: -150px;

}

li.li_login:nth-child(1) {
  left: 25%;
  width: 80px;
  height: 80px;
  animation-delay: 0s;
}


li.li_login:nth-child(2) {
  left: 10%;
  width: 20px;
  height: 20px;
  animation-delay: 2s;
  animation-duration: 12s;
}

li.li_login:nth-child(3) {
  left: 70%;
  width: 20px;
  height: 20px;
  animation-delay: 4s;
}

li.li_login:nth-child(4) {
  left: 40%;
  width: 60px;
  height: 60px;
  animation-delay: 0s;
  animation-duration: 18s;
}

li.li_login:nth-child(5) {
  left: 65%;
  width: 20px;
  height: 20px;
  animation-delay: 0s;
}

li.li_login:nth-child(6) {
  left: 75%;
  width: 110px;
  height: 110px;
  animation-delay: 3s;
}

li.li_login:nth-child(7) {
  left: 35%;
  width: 150px;
  height: 150px;
  animation-delay: 7s;
}

li.li_login:nth-child(8) {
  left: 50%;
  width: 25px;
  height: 25px;
  animation-delay: 15s;
  animation-duration: 45s;
}

li.li_login:nth-child(9) {
  left: 20%;
  width: 15px;
  height: 15px;
  animation-delay: 2s;
  animation-duration: 35s;
}

li.li_login:nth-child(10) {
  left: 85%;
  width: 150px;
  height: 150px;
  animation-delay: 0s;
  animation-duration: 11s;
}

li a.dropdown-item{
  background-color: #e9be8a !important;
  color: #0f394a !important;
}