.custom-footer strong { font-weight: 600; }

.custom-footer a { color: #f7570d; border-bottom: 1px dashed #ff854d; text-decoration: none; transition: all .3s; }
.custom-footer a:hover, .custom-footer a:focus { color: #ff854d; border: 0; text-decoration: none; }

.custom-footer h1, .custom-footer h2 { margin-top: 10px; font-size: 38px; font-weight: 300; color: #000000; line-height: 50px; font-style: italic; }
.custom-footer h3 { font-size: 22px; font-weight: 300; color: #000000; line-height: 30px; font-style: italic; }

.custom-footer img { max-width: 100%; }


.custom-footer .footer-top {
    padding: 60px 0;
    background: linear-gradient(to bottom, #ffffff00, #ffffff70 12%);
    text-align: left;
    color: #000000;
}

.custom-footer .footer-top h3 { padding-bottom: 10px; color: #464646; }

.custom-footer .footer-about img.logo-footer { max-width: 160px; margin-top: 0; margin-bottom: 18px; }
.custom-footer .footer-about p a { border: 0; }
.custom-footer .footer-about p a:hover, .custom-footer .footer-about p a:focus { border: 0; }

.custom-footer .footer-contact p { word-wrap: break-word; }
.custom-footer .footer-contact i { padding-right: 10px; font-size: 18px; color: #666; }
.custom-footer .footer-contact p a { border: 0; }
.custom-footer .footer-contact p a:hover, .custom-footer .footer-contact p a:focus { border: 0; }

.custom-footer .footer-links a { color: #0400ff; border: 0; }
.custom-footer .footer-links a:hover, .custom-footer .footer-links a:focus { color: #3749ed; }

.custom-footer .footer-bottom { padding: 15px 0 17px 0; background: #444; text-align: left; color: #ffffff; }

.custom-footer .footer-social { padding-top: 3px; text-align: right; }
.custom-footer .footer-social a { margin-left: 20px; color: #ffffff; border: 0; }
.custom-footer .footer-social a:hover, .custom-footer .footer-social a:focus { color: #ed8537; border: 0; }
.custom-footer .footer-social i { font-size: 24px; vertical-align: middle; }

.custom-footer .footer-copyright { padding-top: 5px; }
.custom-footer .footer-copyright a { color: #fff; border: 0; }
.custom-footer .footer-copyright a:hover, .custom-footer .footer-copyright a:focus { color: #aaa; border: 0; }

@media (min-width: 992px) and (max-width: 1199px) {
    .custom-footer .footer-top { padding: 40px 0; }
}

@media (min-width: 768px) and (max-width: 991px) {
    .custom-footer .footer-top { padding: 40px 0; }
    .custom-footer .footer-contact i { padding-right: 5px; }
}

@media (max-width: 767px) {
    .custom-footer .footer-top { padding: 40px 0; text-align: center; }
    .custom-footer .footer-contact i { padding-right: 5px; }
    .custom-footer .footer-bottom, .custom-footer .footer-social { text-align: center; }
    .custom-footer .footer-social a { margin: 0 10px; }
}

@media (max-width: 415px) {
    .custom-footer h1, .custom-footer h2 { font-size: 32px; }
}
