body {
    background: #599fd9;
    background: -webkit-linear-gradient(to right, #cbe6fd, #68a4fff1);
    background: linear-gradient(to right, #cbe6fd, #68a4fff1);
    min-height: 100vh;
    overflow-x: hidden;

    font-family: 'Poppins', sans-serif;
  }
  
  /* Lignes de couleurs différentes */
  .row-white {
    background-color: #ffffff7c; /* Blanc */
  }
  
  .row-light-grey {
    background-color: #f2f2f249; /* Gris clair */
  }
  
  /* Soulignement sous l'émoji croix */
  .custom-cross-btn {
    text-decoration: none;
    border-bottom: 1px solid #ccc;
  }
  
  .infos {
      font-style: italic;
      font-size: 14px;
  }
